{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'facade/css/index.css' %}"/>{% endblock %}

{% block title %}About - ADR{% endblock %}

{% block header %}What About This?{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="about-container">
            <h1>About Adrein</h1><br>
            <h3>Who I am?</h3><br>
            <p>Hi!</p>
            <p>My name is Nobody, I am a young mechanical engineer student, and you are on my new website! Wwooww!!!</p><br>
            <br>
            <h3>A little bit of history:</h3><br>
            <p>The first line of code programmed in this project was at the begining of 2023. Then my time and most importantly my motivation to continue and grow the website has highly fluctuated. Till early August 2024, where the internet saw th first connection of my project under the name: adrein.pythonanywhere.com!!! Yes... being a student still isn't paid.</p><br>
            <br>
            <h3>Wait?! What is all of this??</h3><br>
            <p>
                This is nothing serious... the aim of this website is to train me and challenge me over programming projects and also show you what I can make and most important what I can't make...<br>
                What will you find here? Some mini-games, funny fonctionnalities, strange web pages and more... I let you explore the rest by your own ;)<br>
                For now, this web site is mainly coded in Python, HTML and CSS and a little bit of JS (because I don't know this language yet)
            </p><br>
            <br>
            <h3>What next?! A Roadmap...</h3><br>
            <p>
                I have some few ideas that can be implemented in the project like some video-game that I made 100% in Python, or a fun/small crypting/decrypting app and other small Python project but it's still hard for me to adapt Pyhton to a web solution...<br>
                I don't forget that in the actual status the website is really not finished! And a lot more of finishing is needed! Like for the contact page, the loding page, the header/nav menu, fome games, functionalities and apps that have a really poor content...<br>
                And I have new big projects that will maybe arrive on this website!
            </p><br>
            <br>
            <p>To conclude, don't hesitate to write me if you have some suggestions or ideas about this website, mini-games, webpages, problems, bugs,...</p><br>
            <p>Have fun!!!</p><br>
        </div>
    </div>
{% endblock %}
