{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'facade/css/detail.css' %}"/>{% endblock %}

{% block title %}Apps - {{app.name}}{% endblock %}

{% block content %}
    <div class="app-detail-container">
        <h1>{{ app.name }}</h1>

        <div class="app-thumbnail">
            <img src="{{ app.thumbnail.url }}" alt="{{ app.name }}">
        </div>

        <ul class="app-details">
            {% comment %} <li><strong>Active:</strong> {{ app.active|yesno }}</li> {% endcomment %}
            {% if app.active %}
                <button class="secondary-button" href="{{ app.link }}">Play Now</a></button>
            {% else %}
                <li>This feature is not available right now, maybe try later...</li>
            {% endif %}
            <p>{{ app.description }}</p>
        </ul>
    </div>
{% endblock %}
