{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'facade/css/index.css' %}"/>{% endblock %}

{% block title %}Funny Functionalities - ADR{% endblock %}

{% comment %} {% block header %}Apps{% endblock %} {% endcomment %}

{% block content %}
    <section class="apps-section">
        <h2>Web Apps</h2>
        <div class="content-grid">
            {% for app in apps %}
                <a href="{% url 'app-detail' app.id %}">
                    <img src="{{ app.thumbnail.url }}" alt="{{ app.name }}">
                    <h3>{{ app.name }}</h3>
                    <p>{{ app.description }}</p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
