{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'facade/css/index.css' %}"/>{% endblock %}

{% block title %}Email - ADR{% endblock %}

{% block header %}Email is sent?{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Error! Something went wrong...</h1><br>
        <p>
            Verify that your email address is correctly typed.
            Try again in a few minutes.
        </p><br>
    </div>
{% endblock %}
