{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'facade/css/index.css' %}"/>{% endblock %}

{% block title %}Functionalities - ADR{% endblock %}

{% comment %} {% block header %}Fun functionalities{% endblock %} {% endcomment %}

{% block content %}
    <section class="functionalities-section">
        <h2>Funny Functionalities</h2>
        <div class="content-grid slider">
            {% for functionality in functionalities %}
                <a class="card-slider" href="{{ functionality.link }}"> {% comment %} href="{% url 'functionality-detail' functionality.id %}" {% endcomment %}
                    <img src="{{ functionality.thumbnail.url }}" alt="{{ functionality.name }}">
                    <h4>{{ functionality.name }}</h4>
                    <p>{{ functionality.description }}</p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
