{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'facade/css/index.css' %}"/>{% endblock %}

{% block title %}Game - ADR{% endblock %}

{% comment %} {% block header %}Mini-Games{% endblock %} {% endcomment %}

{% block content %}
    <section class="games-section">
        <h2>Mini-Games</h2>
        <div class="content-grid slider">
            {% for game in games %}
                <a class="card-slider" href="{{ game.link }}">
                    <img src="{{ game.thumbnail.url }}" alt="{{ game.name }}">
                    <h4>{{ game.name }}</h4>
                    <p>{{ game.description }}</p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
