{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'facade/css/index.css' %}"/>
    {% comment %} <link rel="stylesheet" href="{% static 'facade/css/styles.css' %}"/> {% endcomment %}
{% endblock %}

{% block title %}ADR{% endblock %}

{% comment %} {% block header %}Welcome to My Web Project{% endblock %} {% endcomment %}

{% block content %}
    <div id="home-page">
        <section class="welcome-section">
            <h1>Welcome to My Web Project!</h1><br>
            <div class="intro">
                <p>This my portfolio of what I can do in HTML, CSS, JS and Python on a web app.<br>
                What will you find here? Some mini-games, funny fonctionnalities, apps, strange web pages and more... I let you explore the rest by your own ;)<br>
                Explore my games, apps, fun functionalities and webpages.</p><br>
            </div>
            <h3>NEW features!!!</h3>
            <div class="news">
                <ul>
                    <li>07/08/24 - Web site is LIVE!!!</li>
                    <li>09/08/24 - Search bar in the header works!</li>
                    <li>11/08/24 - Loading page and contact by email have been added!</li>
                    <li>12/08/24 - Bonneteau game is now correctly working!</li>
                    <li>14/08/24 - Quote generator is now wiser than me...</li>
                    <li>16/08/24 - Now you can loose your money playing my blackjack game</li>
                    <li>31/08/24 - New App! The weather sation!</li>
                    <li>01/09/24 - Finishing the games Worm, Tetris, Hangman and Dodger</li>
                    <li>06/09/24 - Polishing Pong and Tictactoe</li>
                    <li>10/09/24 - The Revision Sheet Builder is finaly working!</li>
                    <li>18/09/24 - Now you can communicate safely with your friends thanks to the crypt/decrypt tool</li>
                    <li>25/09/24 - Design rework of the main app</li>
                </ul>
            </div>
        </section>

        <section class="games-section">
            <h2>Mini-Games</h2>
            <div class="content-grid row">
                {% for game in game_list %}
                    <a href="{% url 'game-detail' game.id %}">
                        <img src="{{ game.thumbnail.url }}" alt="{{ game.name }}">
                        <h4>{{ game.name }}</h4>
                        {% comment %} <p>{{ game.description }}</p> {% endcomment %}
                    </a>
                {% endfor %}
            </div>
        </section>

        <section class="multi-games-section">
            <h2>MultiPlayers Mini-Games</h2>
            <div class="content-grid row">
                {% for multi_game in multi_game_list %}
                    <a href="{% url 'multi-game-detail' multi_game.id %}">
                        <img src="{{ multi_game.thumbnail.url }}" alt="{{ multi_game.name }}">
                        <h4>{{ multi_game.name }}</h4>
                        {% comment %} <p>{{ multi_game.description }}</p> {% endcomment %}
                    </a>
                {% endfor %}
            </div>
        </section>

        <section class="apps-section">
            <h2>Web Apps</h2>
            <div class="content-grid row">
                {% for app in app_list %}
                    <a href="{% url 'app-detail' app.id %}">
                        <img src="{{ app.thumbnail.url }}" alt="{{ app.name }}">
                        <h4>{{ app.name }}</h4>
                        {% comment %} <p>{{ app.description }}</p> {% endcomment %}
                    </a>
                {% endfor %}
            </div>
        </section>

        <section class="functionalities-section">
            <h2>Functionalities</h2>
            <div class="content-grid row">
                {% for functionality in functionality_list %}
                    <a href="{% url 'functionality-detail' functionality.id %}">
                        <img src="{{ functionality.thumbnail.url }}" alt="{{ functionality.name }}">
                        <h4>{{ functionality.name }}</h4>
                        {% comment %} <p>{{ functionality.description }}</p> {% endcomment %}
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
