{% extends 'bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'facade/css/detail.css' %}"/>{% endblock %}

{% block title %}Games - {{ multi_game.name }}{% endblock %}

{% block content %}
    <div class="game-detail-container">
        <h1>{{ multi_game.name }}</h1>

        <div class="game-thumbnail">
            <img src="{{ multi_game.thumbnail.url }}" alt="{{ multi_game.name }}">
        </div>

        <ul class="game-details">
            {% comment %} <li><strong>Active:</strong> {{ game.active|yesno }}</li> {% endcomment %}
            {% if multi_game.active %}
                <a class="secondary-button" href="{{ multi_game.link }}">Play Now</a>
            {% else %}
                <li>This feature is not available right now, maybe try later...</li>
            {% endif %}
            <li><strong>Genre:</strong> {{ multi_game.get_genre_display }}</li>
            <p>{{ multi_game.description }}</p>
        </ul>
    </div>
{% endblock %}
