{% extends 'a_bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'apps/css/quote.css' %}"/>{% endblock %}

{% block title %}Quote Generator{% endblock %}

{% block header %}Quote{% endblock %}

{% block content %}
    <h1>Quote Generator</h1>
    <div class="blockquote-wrapper">
        <div class="blockquote">
            <h2 id="citation">This is the best quote list</h2>
            <img id="avatar" alt="Avatar de Graven" src="{% static 'apps/img/chevalier.jpg' %}">
            <h4 id="nom">ADR</h4>
        </div>
    </div>

    <button class="primary-button" id="btn">Generate</button>

    <script>
        var citUrl = "{% static 'apps/js/citations.json' %}";
        window.citUrl = citUrl;
    </script>
    <script>var staticUrl = "{% static '' %}";</script>
    <script src="{% static 'apps/js/quote.js' %}"></script>
{% endblock %}
