{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'facade/css/content.css' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'facade/favicon.ico' %}">
        {% block styles %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav aria-label="return_arrow">
                <ul>
                    <li>
                        {% if page_type == 'app' %}
                            <a href="{% url 'app-list' %}" class="link_icon">
                        {% elif page_type == 'game' %}
                            <a href="{% url 'game-list' %}" class="link_icon">
                        {% elif page_type == 'functionality' %}
                            <a href="{% url 'functionality-list' %}" class="link_icon">
                        {% elif page_type == 'multi_game' %}
                            <a href="{% url 'multi-game-list' %}" class="link_icon">
                        {% else %}
                            <a href="{% url 'home' %}" class="link_icon">
                        {% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav aria-label="default_main_menu">
                <ul>
                    <li>
                        <a href="{% url 'home' %}" class="link_icon"><img src="{% static 'facade/logo.png' %}" alt="Logo ADR"></a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <div id="loading-overlay" style="display: none;">
            {% comment %} <link rel="stylesheet" href="{% static 'facade/css/loading.css' %}"/> {% endcomment %}
            <section class="loading">
                Don't forget to bruh your teeth, clean your room and put your durty clothes in the basket
                <span class="loading__author">  - Your Mom</span>
                <span class="loading__anim"></span>
            </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'facade/js/loading.js' %}"></script>
    </body>
</html>
