{% extends 'f_bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'functionalities/css/ascii.css' %}"/>{% endblock %}

{% block title %}ASCII Art Gallery{% endblock %}

{% block content %}
    <div class="gallery-container">
        <div class="gallery-item">
            <pre class="ascii-art">
/\_/\
( o.o )
> ^ <
            </pre>
            <div class="art"></div>
        </div>
        <div class="gallery-item">
            <pre class="ascii-art">
 ____
|  _ \
 | |_) |
|  _ <
 |_| \_\
            </pre>
            <div class="art"></div>
        </div>
        <div class="gallery-item">
            <pre class="ascii-art">
><(((('>
            </pre>
            <div class="art"></div>
        </div>
        <div class="gallery-item">
            <pre class="ascii-art">
\-^-/
\_/
            </pre>
            <div class="art"></div>
        </div>
        <div class="gallery-item">
            <pre class="ascii-art">
|\         /|
|           |
|  _.--._    |
|(=o.o=)=o.o=|
|    ||    ||
|_|  |_|  |_|
            </pre>
            <div class="art"></div>
        </div>
        <div class="gallery-item">
            <pre class="ascii-art">
 ,_     _
|\\   //|
||\\_//||
||   ||||
||   ||||
||   ||||
 \) ()(
            </pre>
            <div class="art"></div>
        </div>
        <div class="gallery-item">
            <pre class="ascii-art">
.-"""-.
/        \
|          |
\  () ()  /
\  \/  /
\    /
\  /
||
||
||
//\\
//  \\
||    ||
            </pre>
            <div class="art"></div>
        </div>
        <div class="gallery-item">
            <pre class="ascii-art">
     _
  __| |__
 |  | |  |
 |__| |__|
 .-'(   )`.
/    `-'   \
|            |
\    `.    /
\__' \__/
            </pre>
            <div class="art"></div>
        </div>
    </div>
{% endblock %}
