{% extends 'f_bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'functionalities/css/goldberg.css' %}"/>{% endblock %}

{% block title %}Rube Goldberg Machine{% endblock %}

{% block content %}
    <h2>Work in progress...</h2>
    <h1>Very Simple Goldberg Machine</h1>
    <div class="machine">
        <div class="ball" id="ball"></div>
        <div class="ramp" id="ramp"></div>
        <div class="domino" id="domino"></div>
        <div class="hammer" id="hammer"></div>
        <div class="target" id="target"></div>
        <div class="track" id="track"></div>
        <div class="pulley" id="pulley"></div>
        <div class="lever" id="lever"></div>
        <!-- Add more elements for your Goldberg Machine -->
    </div>
{% endblock %}
