{% extends 'f_bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'functionalities/css/quirky_hover.css' %}"/>{% endblock %}

{% block title %}Quirky Hover - ADR{% endblock %}

{% block content %}
    <h1>Quirky Hover</h1>
    <h3>Get ready to unleash your inner quirkiness! Hover over these funny boxes to discover a surprise.</h3>

    <div class="level">
        <div class="level-indicator">Level 1</div>
        <div class="progress-bar">
            <div class="progress" style="width: 0%"></div>
        </div>
    </div>

    <div class='container'>
        <div class="funny-box ripple">
            <div class="funny-text">Ripple effect!</div>
        </div>
        <div class="funny-box rotate">
            <div class="funny-text">Spin me around!</div>
        </div>
        <div class="funny-box pulse">
            <div class="funny-text">I'm pulsating!</div>
        </div>
        <div class="funny-box flip">
            <div class="funny-text">Flip me!</div>
        </div>
        <div class="funny-box bounce">
            <div class="funny-text">Bounce effect!</div>
        </div>
        <div class="funny-box shake">
            <div class="funny-text">Shake it!</div>
        </div>
        <div class="funny-box color-changer">
            <div class="funny-text">Color me surprised!</div>
        </div>
        <div class="funny-box spiral">
            <div class="funny-text">Spiral effect!</div>
        </div>
        <div class="funny-box orbit">
            <div class="funny-text">Orbit effect!</div>
        </div>
    </div>

    <script src="{% static 'functionalities/js/quirky_hover.js' %}"></script>
{% endblock %}
