main {
    background-color: #f9f9f9;
}

h1 {
    font-size: var(--size-5xl);
    color: var(--coloraccent1);
    margin: 0;
}

h2 {
    font: var(--h3);
    color: var(--color-lg);
    margin-bottom: 20px;
}

a {
    color: var(--coloraccent2);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#error-container {
    background-color: var(--color-w);
    color: var(--color-lg);
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
    padding: var(--size-xxxl);
    border-radius: var(--size-xs);
    /* box-shadow: var(--size-m) var(--size-m) var(--size-m) rgba(0, 0, 0, 0.6),
        -10px -10px 10px var(--color-w); */
    box-shadow: 0 0 var(--size-s) rgba(0, 0, 0, 0.3);
}

#error-container p {
    font: var(--p);
    color: var(--color-lg);
    margin-top: 0;
}

.bounce {
    font-size: var(--size-m);
    margin-top: var(--size-l);
    animation: bounce 1s infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(10px);
    }

    30% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(0px);
    }
}

.bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Puzzle */
.hover-word {
    cursor: pointer; /* Show pointer cursor */
    text-decoration: underline; /* Optional: underline the text */
}

.hidden-text {
    position: absolute;
    top: 12rem;
    left: 0;
    width: 100%;
    height: var(--size-6xl);
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.8rem;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
}

.hidden-text p {
    color: var(--coloraccent1);
    font-size: var(--size-l);
    margin: var(--size-m) auto;
}

.hidden-text h3, .hidden-text h2 {
    font-family: "Handjet", sans-serif;
    color: var(--coloraccent1);
}

.hover-word:hover /* ~ .hidden-text */ {
    /* display: block; */ /* Show text when the hover word is hovered*/
    color: var(--coloraccent1);
}
