/* General */

main {
    background-color: var(--color-b);
}

h1, h3 {
    color: var(--color-w);
    text-align: center;
    margin: 0;
}

h1 {
    padding: 1rem 0 0.3rem;
}

h3 {
    padding: 0 0 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-b);
}

.funny-box {
    color: var(--color-b);
    position: relative;
    width: var(--size-6xl);
    height: var(--size-6xl);
    margin: var(--size-m) var(--size-xxl);
    overflow: hidden;
    border-radius: var(--size-l);
    cursor: pointer;
    transition: background-color 0.3s var(--transition);
    background-color: var(--color-w);
    box-shadow: 0 var(--size-xxs) var(--size-xs) rgba(0, 0, 0, 0.1);
}

.funny-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: var(--size-xl);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s, transform var(--transition);
}

/* Leveling */

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--size-m);
}

.level-indicator {
    text-align: center;
    width: 40rem;
    font-size: var(--size-xl);
    font-weight: bold;
    color: var(--color-w);
    background-color: var(--color-g);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    width: 42rem;
    height: var(--size-l);
    background-color: var(--color-w);
    border-radius: var(--size-s);
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    transition: width var(--transition);
}

/* Boxes */

.funny-box:hover {
    background-color: var(--coloraccent1);
}

.funny-box:hover .funny-text {
    opacity: 1;
    transform: /* translate(-50%, -50%)*/ rotate(360deg);
}

.ripple:hover .funny-text {
    animation: rippleEffect 0.5s infinite;
}

@keyframes rippleEffect {
    0% {
        transform: scale(1) translate(-50%, -50%);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    100% {
        transform: scale(1.5) translate(-30%, -30%);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
}

.rotate:hover .funny-text {
    transform: translate(-50%, -50%) rotate(360deg);
}

.pulse:hover .funny-text {
    animation: pulseEffect 0.5s infinite alternate;
}

@keyframes pulseEffect {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    100% {
        transform: scale(1.3) translate(-40%, -40%);
    }
}

.flip:hover .funny-text {
    transform: translate(-50%, -50%) scaleX(-1);
}

.bounce:hover .funny-text {
    animation: bounceEffect 0.5s infinite;
}

@keyframes bounceEffect {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) translate(-50%, -50%);
    }

    40% {
        transform: translateY(-1.25em) translate(-50%, -50%);
    }

    60% {
        transform: translateY(-0.65em) translate(-50%, -50%);
    }
}

.shake:hover .funny-text {
    animation: shakeEffect 0.5s infinite;
}

@keyframes shakeEffect {

    0%,
    100% {
        transform: translateX(0) translate(-50%, -50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-0.65em) translate(-50%, -50%);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(0.65em) translate(-50%, -50%);
    }
}

.color-changer {
    background-image: linear-gradient(to bottom, #ff69b4, #ffd7be);
    background-size: 100% 200px;
    background-position: 0% 100%;
    transition: background-position 0.3s;
}

.color-changer:hover {
    background-position: 0% 0%;
}

.color-changer:hover .funny-text {
    transform: translate(-50%, -50%);
}

.spiral:hover .funny-text {
    animation: spiralEffect 0.5s infinite;
}

@keyframes spiralEffect {
    0% {
        transform: rotate(0deg) scale(1) translate(-50%, -50%);
    }

    20% {
        transform: rotate(72deg) scale(1.1) translate(-50%, -50%);
    }

    40% {
        transform: rotate(144deg) scale(1.2) translate(-50%, -50%);
    }

    60% {
        transform: rotate(216deg) scale(1.3) translate(-50%, -50%);
    }

    80% {
        transform: rotate(288deg) scale(1.4) translate(-50%, -50%);
    }

    100% {
        transform: rotate(360deg) scale(1.5) translate(-50%, -50%);
    }
}

.orbit:hover .funny-text {
    animation: orbitEffect 0.5s infinite;
}

@keyframes orbitEffect {
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, 0) rotate(90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    75% {
        transform: translate(0, -50%) rotate(270deg);
    }

    100% {
        transform: translate(0%, 0%) rotate(360deg);
    }
}
