/* USE RESIZE ATRIBUTE FOR THE PDF LAYOUT !!! */

:root {
    --pdf-width: 241mm;
}

main {
    min-height: 94vh;
    background-color: var(--color-b);
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    margin: var(--size-m) auto;
    padding: var(--size-m);
    background-color: var(--color-w);
    border: 1px solid var(--color-w);
    border-radius: var(--size-m);
    box-shadow: 0 0 var(--size-m) rgba(0, 0, 0, 0.3);
}

.container h1, form {
    text-align: center;
}

.container h1 {
    margin: var(--size-m) 0;
}

#pdf-file {
    cursor: pointer;
    border: 1px solid #51d345;
    border-radius: 0.3125rem;
}

.size-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: var(--size-m) 0;
}

/* Loading Page */

/* #loading {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-w);
    opacity: 0.95;
    z-index: 1;
} */

.loading {
    max-width: 30%;
    /* line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold; */
    font: var(--h4);
    text-align: center;
    margin: 2rem auto;
}

.loading__anim {
    margin-top: var(--size-xl);
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-left-color: var(--coloraccent2);
    border-top-color: var(--coloraccent2);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}

/* Revision Text */

.revision-text {
    margin: var(--size-m) auto;
    width: 90%;
}

.revision-text h2 {
    text-align: center;
}

#revision-text-content {
    margin: 4rem 3rem;
}

#revision-text-content p {
    font-size: 11px;
}

#revision-text-content h3 {
    font-size: 14px;
}

#preview {
    position: absolute;
    border: 1px solid #fd0000;
    padding: 10px;
    width: var(--pdf-width);
    height: calc(1.41 * var(--pdf-width));
    /* max-height: #revision-text-content width; */
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}
