main {
    margin: 0;
    padding: 0;
    color: var(--color-w);
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

h1 {
    font: var(--h3);
    margin: var(--size-xl) auto var(--size-xl);
    text-transform: uppercase;
}

p {
    font: var(--p);
}

a {
    color: var(--color-w);
    text-decoration: none;
}

.secondary-button a {
    color: var(--coloraccent1);
}

/* For ..._detail.html */

.game-detail-container, .app-detail-container, .functionality-detail-container {
    text-align: center;
    margin: var(--size-xxxl) auto;
}

.game-thumbnail img, .app-thumbnail img, .functionality-thumbnail img {
    max-width: 50%;
    height: auto;
    border-radius: var(--size-xl);
    box-shadow: 0 0 var(--size-xs) rgba(0, 0, 0, 0.2);
    margin-bottom: var(--size-l);
}

.game-details, .app-details, .functionality-details {
    list-style: none;
}
