main {
    margin: 0;
    padding: 0;
    color: var(--color-w);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}


/* General style */

h1 {
    text-align: center;
    font: var(--h1);
    margin: var(--size-m) auto var(--size-l);
    padding-bottom: var(--size-xs);
}

h2 {
    font: var(--h2);
    margin: var(--size-m) auto var(--size-xl);
    text-transform: uppercase;
}

h3 {
    color: var(--color-w);
    margin: var(--size-xxl) auto var(--size-s);
    font: var(--h3);
    text-align: center;
    text-transform: uppercase;
}

h4 {
    color: var(--color-w);
    font: var(--h4);
}

p {
    word-wrap: break-word;
    margin: 0 auto;
    color: var(--color-w);
    font: var(--p);
}

ul, li {
    padding: 0;
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
}


/* Section */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* scroll-snap-align: center; */
}

.welcome-section, .apps-section, .games-section, .multi-games-section, .functionalities-section, .search-section {
    width: 80%;
    background-color: var(--color-g);
    margin: var(--size-4xl) auto; /*var(--size-6xl)*/
    padding: var(--size-m);
    text-align: center;
    border: 0 solid var(--color-w);
    border-radius: var(--size-s);
    box-shadow: var(--shadowwhite);
}

.intro {
    display: flex;
    justify-content: center;
}

.news {
    display: flex;
    justify-content: center;
    padding: 0 0 var(--size-m);
}

.intro p {
    width: 60%;
    text-align: left;
}


/* Content Grid */

.content-grid {
    display: flex;
    gap: var(--size-l);
}

.row {
    flex-wrap: wrap;
    justify-content: center;
}

.slider {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 37.5rem;
    margin: 0 auto;
    padding: var(--size-m) 0;
    box-shadow: var(--size-m) var(--size-m) var(--size-m) rgba(0, 0, 0, 0.3) inset;
    border: 1px solid var(--color-lg);
    border-radius: var(--size-m);
}

.content-grid a > * {
    flex: 1;
    word-wrap: break-word;
}

.content-grid a {
    display: inline-block;
    width: clamp(var(--size-xxxl), 15%, 20%);
    background-color: var(--color-g);
    padding: var(--size-xs);
    margin: var(--size-s) var(--size-m);
    box-shadow: var(--size-m) var(--size-m) var(--size-m) rgba(0, 0, 0, 0.8),
        -10px -10px 6px var(--color-lg);
    border-radius: var(--size-m);
    text-decoration: none;
    transition: background-color 0.3s, transform var(--transition);
}

.content-grid a:hover {
    background-color: var(--color-g);
    box-shadow: var(--size-m) var(--size-m) var(--size-m) rgba(0, 0, 0, 0.6),
        -10px -10px 6px var(--color-lg);
    transform: scale(1.05);
    color: var(--color-b);
}

.card-slider {
    scroll-snap-align: center;
    min-width: 40%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.card-slider:is(:first-child) {
    margin-left: var(--size-6xl);
}

.card-slider:is(:last-child) {
    margin-right: var(--size-6xl);
}

.content-grid h4 {
    margin: var(--size-m) auto var(--size-s);
}

.content-grid p {
    color: var(--coloraccent1);
}

.content-grid img {
    width: 100%;
    border-radius: var(--size-s);
}


/* Forms */

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding: var(--size-xxxl) 0 var(--size-xxl) 0;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-m);
}

.wrapper input,
.wrapper textarea {
    padding: var(--size-m);
    margin: var(--size-xs) 0 var(--size-m) 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--size-s);
}


/* Contact */

.contact-container {
    text-align: center;
    color: var(--color-b);
    padding: var(--size-xl) var(--size-xl);
    margin: 0;
    background-color: #e6e6e6;
    border-radius: var(--size-l);
}

.contact-container p, .contact-container h3 {
    color: var(--color-b);
}


/* About */

.about-container {
    width: 60%;
    color: var(--color-b);
    padding: var(--size-m) var(--size-4xl) var(--size-xl);
    background-color: #e6e6e6;
    border-radius: var(--size-xl);
    text-align: left;
    margin: 0 auto;
}

.about-container h1, .about-container h3, .about-container p {
    color: var(--color-b);
}


/* Puzzle */

#hint p {
    text-align: center;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--size-l);
    width: 40%;
}

pre {
    font-family: monospace; /* Use a monospace font for ASCII art */
    display: inline-block; /* Allow the pre elements to sit inline */
    white-space: pre-wrap; /* Preserve whitespace */
    margin: 0; /* Add some space between the numbers */
    color: var(--coloraccent1);
}

#hidden-text {
    opacity: 0;
    color: var(--coloraccent1);
}

.hidden-message {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--size-l);
    color: var(--coloraccent1);
}

#hidden-tab {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.hidden-tab p {
    color: var(--coloraccent1);
    font-size: var(--size-l);
}

#check-result {
    width: 50%;
    text-align: left;
}

#validationBtn {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: var(--size-l);
}

#check-result p {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    color: var(--coloraccent1);
    font-size: var(--size-l);
}

#alpha-omega {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    color: var(--coloraccent1);
    font-size: var(--size-m);
    position: relative;
    bottom: calc(-1 * var(--size-6xl));
}
