:root {
    --color-b: #000;
    --color-w: #fff;
    --color-g: #141414;
    --color-lg: #303030;
    --coloraccent1: #e74c3c;
    --coloraccent2: #1869eb;
    --coloraccent3: #e4e812f4;

    --ff2: "DM Sans", sans-serif;
    --ff1: "Verdana", sans-serif;
    /* --h1: bold max(4rem, 4vw) / max(1rem, 5vw) var(--ff1); */
    --h1: bold 4rem/1em var(--ff1);
    --h2: bold 3rem/1.2em var(--ff1);
    --h3: bold 2.25rem/1.2em var(--ff1);
    --h4: bold 1.16rem/1.6em var(--ff1);
    --p: 1rem/1.6em var(--ff1);
    --smalltext: 0.75rem/2em var(--ff1);

    --links-primary: bold 1rem/1em var(--ff1) var(--coloraccent2);
    --links-secondary: bold 1rem/1em var(--ff1) var(--coloraccent3);
    --links-third: bold underline 0.75rem/1.25em var(--ff1) var(--coloraccent1);

    --transition: 0.3s ease-in-out;

    --shadow: #00000030 0px 5px 10px 5px;
    --shadowwhite: #ffffff30 0px 5px 10px 5px;
    --shadowred: #ff000045 0px 5px 10px 5px;

    --size-xxs: 0.25rem;        /* 4px */
    --size-xs: 0.5rem;      /* 8px */
    --size-s: 0.75rem;      /* 12px */
    --size-m: 1rem;     /* 16px */
    --size-l: 1.25rem;      /* 20px */
    --size-xl: 1.75rem;     /* 28px */
    --size-xxl: 2.5rem;     /* 40px */
    --size-xxxl: 3.75rem;       /* 60px */
    --size-4xl: 6.25rem;        /* 100px */
    --size-5xl: 10rem;      /* 160px */
    --size-6xl: 15rem;      /* 240px */
}

.primary-button {
    color: var(--color-w);
    background-color: var(--coloraccent1);
    font: var(--p);
    font-weight: bold;
    padding: var(--size-m) var(--size-xxl);
    margin-top: var(--size-m);
    border: 0.125rem solid var(--coloraccent1);
    border-radius: var(--size-xxs);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: background-color 0.3s, var(--transition);
}

.primary-button:hover {
    background-color: var(--coloraccent3);
    color: var(--coloraccent1);
    transform: scale(1.05);
}

.secondary-button {
    color: var(--coloraccent1);
    background-color: var(--color-g);
    font: var(--smalltext);
    font-weight: bold;
    padding: var(--size-s) var(--size-xl);
    border: 0.125rem solid var(--coloraccent1);
    border-radius: var(--size-xxs);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: background-color 0.3s, var(--transition);
}

.secondary-button:hover {
    background-color: var(--coloraccent3);
    transform: scale(1.05);
}

.third-button {
    color: var(--coloraccent3);
    background-color: var(--color-g);
    font: var(--smalltext);
    font-weight: bold;
    padding: var(--size-s) var(--size-xl);
    border: 0.125rem solid var(--coloraccent3);
    border-radius: var(--size-xxs);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: background-color 0.3s, var(--transition);
}

.third-button:hover {
    background-color: var(--coloraccent1);
    color: var(--coloraccent3);
    transform: scale(1.05);
}

.fourth-button {
    color: var(--color-b);
    border: 0.125rem solid var(--coloraccent1);
    background-color: var(--coloraccent1);
    box-shadow: var(--shadowd);
    margin: var(--size-m) auto;
    padding: var(--size-s) var(--size-l);
    transition: background-color 0.3s, var(--transition);
}

.fourth-button:hover {
    background-color: #790000;
    color: var(--color-b);
    transform: scale(1.05);
}

/* General */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family: var(--ff1);
    font-size: var(--size-m);
    background-color: var(--color-b);
    box-sizing: border-box;
}

button {
    -webkit-appearance: button;
    appearance: button;
    text-transform: none;
    margin: 0;
    box-sizing: border-box;
}

/* Logos link */

/* .link_icon {
    max-width: 100%;
} */

.link_icon img {
    /* width: auto; */
    max-height: var(--size-l);
    transition: opacity var(--transition);
}

.link_icon:hover img {
    opacity: 0.9;
}

svg {
    fill: var(--color-b);
    width: var(--size-l);
}

svg:hover {
    fill: var(--coloraccent1);
}

/* Header */

header {
    width: 100%;
    background-color: var(--color-w);
    position: fixed;
    color: var(--color-b);
    padding: var(--size-xxs);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

nav[aria-label="search_menu"] {
    flex: 0;
    margin-left: auto;
    justify-content: right;
}

nav[aria-label="default_main_menu"] {
    flex: 1;
    justify-content: left;
}

nav a {
    display: inline-block;
    margin: var(--size-xxs);
    text-decoration: none;
    color: var(--color-b);
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin: 0 var(--size-xs);
}

nav ul li a:hover {
    color: var(--coloraccent1);
}

/* Search Form */

.search-form {
    display: flex;
    align-items: center;
    justify-content: right;
}

.search-form form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: var(--size-xs);
    border: 1px solid var(--coloraccent1);
    border-radius: var(--size-xxs);
    width: var(--size-5xl);
}

.search-form button[type="submit"] {
    padding: var(--size-xs) var(--size-s);
    border: none;
    border-radius: var(--size-xxs);
    background-color: var(--color-w);
    color: var(--color-w);
    cursor: pointer;
    transition: background-color var(--transition);
}

/* .search-form button[type="submit"]:hover {
    background-color: var(--coloraccent4);
} */

/* Footer */

footer {
    display: grid;
    grid-template-columns: 15% 1fr 15%; /* 20% for #stats-column, 1fr for #game-content */
    grid-gap: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-w);
    color: var(--color-b);
    text-align: center;
    padding: var(--size-xs);
    width: auto;
    z-index: -1;
}

.copyright h4 {
    font: var(--p);
    color: var(--color-b);
    font-weight: normal;
}

.version p {
    font: var(--smalltext);
    color: var(--coloraccent4);
    /* padding: var(--size-xxl) var(--size-xs) 0 0; */
}

/* Loading Page */

#loading-overlay {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-w);
    opacity: 0.95;
    z-index: 1;
}

.loading {
    max-width: 30%;
    /* line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold; */
    font: var(--h4);
    text-align: center;
}

.loading__author {
    /* font-weight: normal; */
    /* font-size: 0.9rem; */
    font: var(--smalltext);
    color: rgba(119, 119, 119, 1);
    margin: var(--size-xs) 0 var(--size-xl) 0;
    display: block;
}

.loading__anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-left-color: var(--coloraccent2);
    border-top-color: var(--coloraccent2);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}
