{% extends 'g_bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'games/css/guess_nb.css' %}"/>{% endblock %}

{% block title %}Guess the Number{% endblock %}

{% block content %}
    <h1>Guess a Number & Number Guessing Game</h1>

    <div id="part1">
        <h2>Guess a Number - Jar Game</h2>
        <p>Welcome to the Jar Game!</p>
        <p>Choose your difficulty:</p>
        <button onclick="startGame(1)">Easy</button>
        <button onclick="startGame(2)">Medium</button>
        <button onclick="startGame(3)">Hard</button>

        <div id="gameArea" style="display:none;">
            <p id="message"></p>
            <input type="number" id="jarInput" min="1" max="5">
            <button onclick="checkJar()">Choose Jar</button>
        </div>
    </div>

    <div id="part2">
        <h2>Computer Guesses Your Number</h2>
        <p>Think of a number between 1 and <span id="maxRange"></span>. Now the computer will try to guess it!</p>
        <div id="computerGuess">
            <p id="computerGuessMessage"></p>
            <input type="text" id="feedbackInput" placeholder="Enter 'H' for too high, 'L' for too low, or 'C' for correct.">
            <button onclick="evaluateFeedback()">Submit</button>
        </div>
    </div>

    <script src="{% static 'games/js/guess_nb' %}"></script>
{% endblock %}
