{% extends 'g_bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'games/css/hangman.css' %}"/>{% endblock %}

{% block title %}Hangman{% endblock %}

{% block content %}
    <div id="table">
        <div id="popup-container" class="hide">
            <div id="popup">
                <p id="popup-message">message</p>
            </div>
        </div>
        <div id="hangman-container">
            <h1>Hangman Game</h1>
            <div id="word-container"></div>
            <p id="lives">Lives: <span id="lives-count">7</span></p>
            <p id="used-letters">Used Letters: <span id="used-letters-list"></span></p>
            <button id="reset-button" class="hide">Restart Game</button>
            <input type="text" id="guess-input" placeholder="Enter a letter">
            <button id="guess-button">Guess</button>
        </div>
        <div id="hangman-drawing">
            <canvas id="hangman-canvas" width="200" height="200"></canvas>
        </div>
    </div>

    <script src="{% static 'games/js/hangman.js' %}"></script>
{% endblock %}
