{% extends 'bases/base_min.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'games/css/pong.css' %}"/>{% endblock %}

{% block title %}ADR{% endblock %}

{% block content %}
    <canvas id="myCanvas" width="800" height="600"></canvas>
    <div id="startScreen">
        <h1>Pong</h1>
        <h3>The opponent on the left controls is stick with the <b>WSAD</b> keys.<br>
            And the right opponent controls it stick with the <b>Arrows</b> keys.<br>
            The first player at 3 point wins the match!
        </h3>
        <button class="secondary-button" id="startGameBtn" onclick="startGame()">Start Game</button>
    </div>
    <div id="gameOverScreen" style="display: none;">
        <h1>Game Over</h1>
        <p id="winner"></p>
        <button class="secondary-button" id="playAgainBtn" onclick="restartGame()">Play Again</button>
    </div>
    <div id="pauseScreen" style="display: none;">
        <h1>Game Paused</h1>
        <button class="secondary-button" id="pauseGameBtn" onclick="resumeGame()">Resume</button>
    </div>

    <script src="{% static 'games/js/pong.js' %}"></script>
{% endblock %}
