{% extends 'g_bases/base.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'games/css/tetris.css' %}"/>{% endblock %}

{% block title %}Tetris{% endblock %}

{% block content %}
    <p id="scoreDisplay">Score: 0</p>
    <p id="topscoreDisplay">Top Score: 0</p>
    <canvas id="game" width="392" height="560"></canvas><br>
    <div id="startScreen">
        <h1>Tetris</h1>
        <h3>You must use the <b>Arrows</b> keys,<br>
            Left: Left Arrow<br>
            Right: Right arrow<br>
            Accelerate: Down Arrow<br>
            Rotate: Up Arrow<br>
        </h3>
        <button id="startGameBtn">Start Game</button>
    </div>
    <div id="gameOverScreen">
        <h1>Game Over</h1>
        <p>Your Score: <span id="finalScore"></span></p>
        <button id="playAgainBtn">Play Again</button>
    </div>

    <script src="{% static 'games/js/tetris.js' %}"></script>
{% endblock %}
