{% extends 'bases/base_min.html' %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'games/css/tictactoe.css' %}"/>{% endblock %}

{% block title %}TicTacToe{% endblock %}

{% block content %}
    <div id="start-screen">
      <h1>Tic Tac Toe</h1>
      <button class="secondary-button" id="startBtn" onclick="startGame()">Start Game</button>
    </div>
    <div id="game-container">
      <h2>Score:</h2>
      <p id="x-score">X Score: 0</p>
      <p id="o-score">O Score: 0</p>
      <div id="game-board">
        <!-- Game board will be generated dynamically -->
      </div>
      <div id="game-over-screen" style="display: none;">
        <h2 id="game-over-message"></h2>
        <button class="secondary-button" id="restartBtn" onclick="restartGame()">Play Again</button>
      </div>
    </div>

    <script src="{% static 'games/js/tictactoe.js' %}"></script>
{% endblock %}
