:root {
    --main-color: rgb(0, 200, 0);
}

/* Global Styles */

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: var(--main-color);
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    background: #111;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
    text-align: center;
    transition: max-width 0.3s ease;
    margin: 1rem auto   ;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: 0 0 20px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6);
    transition: font-size 0.3s ease;
}

#form {
    margin-bottom: 20px;
}

.form-group,
.form-group-radio {
    margin-bottom: 20px;
    text-align: left;
}

.form-group-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 8px;
    color: var(--main-color);
}

textarea,
input[type="number"],
input[type="text"] {
    width: 97%;
    padding: 10px;
    font-size: 1rem;
    background-color: #222;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

textarea:focus,
input:focus {
    border-color: var(--main-color);
    outline: none;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

input[type="radio"] {
    margin-right: 8px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: var(--main-color);
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0d0;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
}

.result {
    margin-top: 20px;
}

.output {
    font-size: 1.2rem;
    background-color: #111;
    padding: 10px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    color: var(--main-color);
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.error {
    font-size: 1.2rem;
    color: #f00;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }

    .title {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    label {
        font-size: 1rem;
    }

    input[type="submit"] {
        font-size: 1.1rem;
    }

    .output,
    .error {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.8rem;
        letter-spacing: 1px;
    }

    textarea,
    input[type="number"],
    input[type="text"] {
        padding: 8px;
    }

    input[type="submit"] {
        font-size: 1rem;
        padding: 10px;
    }

    label {
        font-size: 0.9rem;
    }

    .output,
    .error {
        font-size: 1rem;
    }
}
