:root {
    --main-color: rgb(0, 200, 0);
}

/* Global Styles */

main {
    box-sizing: border-box;
    background-color: var(--color-b);
    color: var(--main-color);
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    background: var(--color-b);
    border: 2px solid var(--main-color);
    border-radius: var(--size-m);
    padding: 0 var(--size-l);
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 var(--size-xl) rgba(0, 255, 0, 0.5);
    text-align: center;
    transition: max-width 0.3s ease;
    margin: var(--size-m) auto;
}

.title {
    font-size: var(--size-xxl);
    margin-bottom: var(--size-l);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: 0 0 var(--size-l) rgba(0, 255, 0, 0.8), 0 0 var(--size-s) rgba(0, 255, 0, 0.6);
    transition: font-size var(--transition);
}

#form {
    margin-bottom: var(--size-l);
}

.form-group,
.form-group-radio {
    margin-bottom: var(--size-l);
    text-align: left;
}

.form-group-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label {
    font-size: 1.1rem;
    display: block;
    margin-bottom: var(--size-xs);
    color: var(--main-color);
}

textarea,
input[type="number"],
input[type="text"] {
    width: 97%;
    padding: var(--size-xxs);
    font-size: var(--size-m);
    background-color: var(--color-b);
    border: 2px solid var(--main-color);
    color: var(--main-color);
    border-radius: var(--size-xs);
    transition: border-color var(--transition);
}

textarea:focus,
input:focus {
    border-color: var(--main-color);
    outline: none;
    box-shadow: 0 0 var(--size-xs) rgba(0, 255, 0, 0.8);
}

input[type="radio"] {
    margin-right: var(--size-xs);
}

input[type="submit"] {
    width: 100%;
    padding: var(--size-s);
    font-size: 1.2rem;
    background-color: var(--main-color);
    color: var(--color-b);
    border: none;
    border-radius: var(--size-s);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0d0;
    box-shadow: 0 0 var(--size-m) rgba(0, 255, 0, 0.7);
}

.result {
    margin-top: var(--size-l);
}

.output {
    font-size: 1.2rem;
    background-color: var(--color-b);
    padding: var(--size-s);
    border: 2px solid var(--main-color);
    border-radius: var(--size-xs);
    color: var(--main-color);
    text-shadow: 0 0 var(--size-s) rgba(0, 255, 0, 0.7);
}

.error {
    font-size: 1.2rem;
    color: #f00;
    text-shadow: 0 0 var(--size-xs) rgba(255, 0, 0, 0.7);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: var(--size-m);
    }

    .title {
        font-size: var(--size-xxl);
        letter-spacing: 2px;
    }

    label {
        font-size: var(--size-m);
    }

    input[type="submit"] {
        font-size: 1.1rem;
    }

    .output,
    .error {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: var(--size-xl);
        letter-spacing: 1px;
    }

    textarea,
    input[type="number"],
    input[type="text"] {
        padding: var(--size-xs);
    }

    input[type="submit"] {
        font-size: var(--size-m);
        padding: var(--size-s);
    }

    label {
        font-size: 0.9rem;
    }

    .output,
    .error {
        font-size: var(--size-m);
    }
}
