/* Global Styles */

main {
    box-sizing: border-box;
    line-height: 1.4;
    color: var(--color-g);
    display: flex;
    flex-direction: column;
    padding: var(--size-m) 0;
    min-height: 94vh;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    font: var(--h3);
}

h2 {
    font: var(--h4);
    margin: 0;
    padding: 0 var(--size-m);
}

h4 {
    font: var(--p);
}

/* Blockquote Wrapper */

.blockquote-wrapper {
    max-width: 62.5rem;
    margin: var(--size-m) auto var(--size-m);
    padding: var(--size-xl);
    background-color: var(--color-w);
    border: 0.0625rem solid var(--color-w);
    box-shadow: 0 0.125rem var(--size-s) rgba(0, 0, 0, 0.3);
    border-radius: var(--size-xxxl);
}

/* Blockquote */

.blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: var(--size-m); */
}

.blockquote img {
    width: 20rem;
    border-radius: 50%;
    margin: var(--size-s) var(--size-l);
}

.blockquote h4 {
    font-size: var(--size-m);
    font-weight: bold;
    color: var(--color-lg);
    margin: 0;
}

/* Button Styles */

#btn {
    display: block;
    width: 20%;
    margin: 0 auto;
}

/* Responsive Design */

@media (max-width: 37.5rem) {
    .blockquote-wrapper {
        margin: var(--color-lg);
    }

    .blockquote img {
        width: 5rem;
        height: 5rem;
    }
}
