main {
    width: 100%;
    scroll-behavior: smooth;
    min-height: 94vh;
}

/* General */

h1 {
    text-align: center;
    color: var(--color-w);
    padding: var(--size-m) 0 0;
    margin: 0;
}

h2 {
    color: var(--color-w);
    text-align: center;
}

p {
    margin: var(--size-xs);
    text-align: center;
    color: var(--color-w);
}

button {
    padding: var(--size-s) var(--size-xxxl);
    margin: var(--size-m) 0;
    font-size: var(--size-l);
    cursor: pointer;
    background-color: #51d345;
    color: var(--color-w);
    border: none;
    border-radius: var(--size-s);
    transition: background-color var(--transition);
}

#hit {
    margin-left: var(--size-m);
}

#reset {
    margin-right: var(--size-m);
}

button:hover {
    background-color: #00b30f;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Table */

#screen {
    background-image: url(../img/bg_red.png);
    background-repeat: repeat;
    background-size: auto;
}

#table {
    display: grid;
    grid-template-columns: 15% 1fr 15%; /* 20% for #stats-column, 1fr for #game-content */
    grid-gap: 2rem;
    padding: var(--size-l);
}

#game {
    padding: var(--size-m);
    margin: 0 auto;
    background-image: url(../img/bg_green.png);
    background-repeat: repeat;
    background-size: cover;
    border-radius: var(--size-m);
    box-shadow: 0 0 var(--size-s) rgba(0, 0, 0, 0.1);
    grid-column: 2;
    max-width: 60rem;
    /* height: 30rem; */
}

/* Scoreboard */

#stats-column {
    grid-column: 1;
}

#stats {
    /* height: 20%; */
    background-color: var(--color-w);
    padding: var(--size-m);
    border-radius: var(--size-xs);
    box-shadow: 0 0 var(--size-s) rgba(0, 0, 0, 0.1);
}

#stats p, #stats h2 {
    margin: 0;
    color: var(--color-b);
}

#score-table {
    border-collapse: collapse;
    width: 100%;
    margin: var(--size-m) auto 0;
}

#score-table th, #score-table td {
    border: 1px solid #ccc;
    padding: var(--size-xs);
    text-align: center;
}

#score-table th {
    background-color: var(--color-w);
}

#score-table td {
    font-weight: bold;
}

#result-column {
    grid-column: 3;
}

/* Cards */

#dealer-hand,
#player-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-l);
}

#dealer-hand div,
#player-hand div {
    width: 7rem;
    height: 9rem;
    background-color: var(--color-w);
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    /* padding: 0.625rem; */
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

#dealer-hand img,
#player-hand img {
    width: 7rem;
    height: 9rem;
}

#player p {
    color: var(--color-w);
}

#player-total {
    font-weight: bold;
}

#actions {
    display: flex;
    justify-content: center;
    gap: var(--size-l);
}
