main {
    width: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #fff;
    min-height: 90vh;
}

/* General */

h1 {
    text-align: center;
    color: #fff ;
    padding: 1rem 0 0;
    margin: 0;
}

h2 {
    color: #fff;
    text-align: center;
}

p {
    margin: 0.5rem;
    text-align: center;
    color: #fff;
}

button {
    padding: 0.625rem 3.75rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #51d345;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

#hit {
    margin-left: 1rem;
}

#reset {
    margin-right: 1rem;
}

button:hover {
    background-color: #00b30f;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Table */

#screen {
    background-image: url(../img/bg_red.png);
    background-repeat: repeat;
    background-size: auto;
}

#table {
    display: grid;
    grid-template-columns: 15% 1fr 15%; /* 20% for #stats-column, 1fr for #game-content */
    grid-gap: 2rem;
    padding: 1.25rem;
}

#game {
    padding: 1rem;
    margin: 0 auto;
    background-image: url(../img/bg_green.png);
    background-repeat: repeat;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    grid-column: 2;
    max-width: 60rem;
    /* height: 30rem; */
}

/* Scoreboard */

#stats-column {
    grid-column: 1;
}

#stats {
    /* height: 20%; */
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
}

#stats p, #stats h2 {
    margin: 0;
    color: #000;
}

#score-table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem auto 0rem;
}

#score-table th, #score-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}

#score-table th {
    background-color: #f0f0f0;
}

#score-table td {
    font-weight: bold;
}

#result-column {
    grid-column: 3;
}

/* Cards */

#dealer-hand,
#player-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

#dealer-hand div,
#player-hand div {
    width: 7rem;
    height: 9rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    /* padding: 0.625rem; */
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

#dealer-hand img,
#player-hand img {
    width: 7rem;
    height: 9rem;
}

#player p {
    color: #fff;
}

#player-total {
    font-weight: bold;
}

#actions {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}
