main {
    width: 100%;
    scroll-behavior: smooth;
    background-color: var(--color-b);
    min-height: 90vh;
    text-align: center;
}

h1 {
    font: var(--h1);
}

h3 {
    font: var(--h4);
}

#myCanvas {
    height: 600px;
    width: 800px;
    border: 2px solid var(--color-w);
    background-color: var(--color-b);
    margin: var(--size-l) auto;
}

#startScreen,
#gameOverScreen,
#pauseScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-w);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameOverScreen p {
    padding-bottom: 3rem;
}

button {
    padding: var(--size-xs) var(--size-l);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--size-m);
    margin-top: var(--size-l);
}
