/* General */

main {
    width: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #000;
    min-height: 90vh;
    text-align: center;
}

#table {
    display: grid;
    grid-template-columns: 15% 1fr 15%; /* 20% for #stats-column, 1fr for #game-content */
    grid-gap: 2rem;
    padding: 1.25rem 1.25rem 0;
}

#game {
    padding: 1rem;
    margin: 0 auto;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    grid-column: 2;
    max-width: 60rem;
}

canvas {
    border: 2px solid #fff;
    background-color: #000;
    display: block;
    margin: 0 auto;
}

/* Startscreen and GameOversceen */

#startScreen,
#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 2.8rem;
}

#startScreen h1,
#gameOverScreen h1 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#startScreen h3,
#gameOverScreen h3 {
    color: #b1b1b1;
}

#startScreen p,
#gameOverScreen p {
    color: #fff;
}

.green-caps {
    color: #67e600;
    text-transform: uppercase;
}

.red-caps {
    color: #FF0000;
    text-transform: uppercase;
}

#startGameBtn,
#playAgainBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1.25rem;
    cursor: pointer;
}

#startScreen button:hover,
#gameOverScreen button:hover {
    background-color: #337837;
}

#gameOverScreen p {
    margin: 10px 0;
}

/* Scoreboard */

#stats-column {
    grid-column: 1;
    padding: 2rem 0 0 2rem;
}

#stats {
    /* height: 20%; */
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
}

#stats p,
#stats h2 {
    margin: 0;
    color: #000;
}

#score-table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem auto 0rem;
}

#score-table th,
#score-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}

#score-table th {
    background-color: #f0f0f0;
}

#score-table td {
    font-weight: bold;
}

#result-column {
    grid-column: 3;
}
